doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    title Node DNS Admin
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // external css
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Custom styles for this template
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/style-responsive.css')
    script(src='assets/js/chart-master/Chart.js')

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
  body
    section#container
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.js-sidebar-toggle.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        a.logo(href='#dashboard')
          b Node DNS Admin

      //MAIN SIDEBAR MENU
      // sidebar start
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              img.img-circle(src='assets/img/ui-sam.jpg', width='60')
            h5.centered No Mo Ads!
            li.mt
              a.active(href='#dashboard')
                i.fa.fa-dashboard
                span Dashboard
            li.sub-menu
              a(href='javascript:;')
                i.fa.fa-cog
                span Configuration
              ul.sub
                li
                  a(href='#config-general') General
                li
                  a(href='#config-blacklist') Blacklist
                li
                  a(href='#config-whitelist') Whitelist
          // sidebar menu end
      // sidebar end
      //
        ******* MAIN CONTENT ********
      // main content start
      section#main-content
        section.wrapper.js-dashboard
          if error
            .row.mtbox
              .col-xs-12.box0
                .box1
                  span.fa.fa-warning
                  h3 Woah there cowperson! There's been an error.
                p=error
          .row
            .row.mtbox
              .col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.box0
                .box1
                  span.fa.fa-hand-stop-o
                  h3=caught.total
                p Ads blocked today
              .col-md-2.col-sm-2.box0
                .box1
                  span.fa.fa-globe
                  h3=incoming.total
                p DNS queries today
              .col-md-2.col-sm-2.box0
                .box1
                  span.fa.fa-pie-chart
                  - var percent = ((caught.total / incoming.total) * 100).toFixed(2) + '%'
                  h3=percent
                p Of today's traffic is ads
              .col-md-2.col-sm-2.box0
                .box1
                  span.fa.fa-list
                  h3=adUrls
                p Domains blocked
              .col-md-2.col-sm-2.box0
                if error
                  .box1
                    span.fa.fa-warning
                    h3 Oh no!
                  p Something seems to be wrong. Check your logs for more information.
                else
                  .box1
                    span.fa.fa-check-circle-o
                    h3 OK!
                  p Your server is working perfectly. Relax &amp; enjoy.
            // /row mt
            .row.mt
              .col-md-6.col-sm-6.mb
                .white-panel.pn
                  .white-header
                    h5 TOP DESTINATIONS
                  .row
                    .col-xs-12
                      table.table.table-striped.stats-table
                        tbody.text-center
                          - for (var i = 0; i < incoming.topKeys.length; i++)
                            tr
                              td=incoming.topKeys[i]
                              td=incoming.topValues[i]
                              td=incoming.topPercent[i]

              .col-md-6.col-sm-6.mb
                .white-panel.pn
                  .white-header
                    h5 TOP CAUGHT ADS
                  .row
                    .col-xs-12
                      table.table.table-striped.stats-table
                        tbody.text-center
                          - for (var i = 0; i < caught.topKeys.length; i++)
                            tr
                              td=caught.topKeys[i]
                              td=caught.topValues[i]
                              td=caught.topPercent[i]

            .row
              .col-md-4.col-sm-6.mb
                .white-panel.pn
                  .white-header
                    h5 TOP SOURCES
                  .row
                    .col-xs-12
                      table.table.table-striped.stats-table
                        tbody.text-center
                          - for (var i = 0; i < sources.topKeys.length; i++)
                            tr
                              td=sources.topKeys[i]
                              td=sources.topValues[i]
                              td=sources.topPercent[i]

              .col-md-4.col-sm-6.mb
                .white-panel.pn
                  .white-header
                    h5 SERVER STATISTICS
                  .row
                    .col-xs-12
                      table.table.table-striped
                        tbody.text-center
                          each val, name in statistics
                            tr
                              td=name
                              td=val

              .col-md-4.col-sm-4.mb
                .darkblue-panel.pn
                  .darkblue-header
                    h5 TRAFFIC TYPE
                  canvas#trafficType(height='120', width='120')
                  script.
                    var trafficData = [
                      { value : #{incoming.total - caught.total}
                      , color : '#68dff0'
                      }
                    , { value: #{caught.total}
                      , color:'#97200F'
                      }
                    ]
                    var trafficType = new Chart(document.getElementById('trafficType').getContext('2d')).Doughnut(trafficData)
                  footer
                    .pull-left.text-left
                      h5
                        i.fa.fa-square(style='color: #68dff0;')
                        |&nbsp;All Requests
                      h5
                        i.fa.fa-square(style='color: #97200F;')
                        |&nbsp;Requests Caught

        section.wrapper.js-config-general.hidden
          .row.text-center
            h1 General Config
            .row.mtbox.hidden.js-config-general--error
              .col-xs-12.box0
                .box1
                  span.fa.fa-warning
                  h3 Woah there cowperson! There's been an error.
                p
            .row.mt
              .col-xs-12
                .form-panel
                  form.form-horizontal.style-form.js-config-general--form
                    .form-group
                      label.col-sm-2.control-label Admin Url
                      .col-sm-10
                        input.form-control.js-config-general--adminUrl(type='text', value=settings.adminUrl, required)
                        span.help-block This is the URL you can access this admin site from.
                    .form-group
                      label.col-sm-2.control-label DNS Authority
                      .col-sm-10
                        input.form-control.js-config-general--dnsAuthority(type='text', value=settings.dnsAuthority, required)
                        span.help-block This is DNS authority requests are forwarded to.
                    .form-group
                      .col-xs-6.text-center
                        h4.hidden.js-config-general--success
                          |Your changes have been saved.
                          br
                          |If you've changed the admin URL, you will be redirected there.
                      .col-xs-6.text-right
                        button.btn.btn-lg.btn-default.js-config-general--save(type='submit', disabled) SAVE CHANGES

        section.wrapper.js-config-whitelist.hidden
          .row.text-center
            h1 Whitelist
            .row.mtbox.hidden.js-config-whitelist--error
              .col-xs-12.box0
                .box1
                  span.fa.fa-warning
                  h3 Woah there cowperson! There's been an error.
                p
            .row.mt
              .col-xs-12
                .form-panel
                  form.form-horizontal.style-form.js-config-general--form
                    .form-group
                      label.col-sm-2.control-label Whitelist URL
                      .col-sm-8
                        input.form-control.js-config-whitelist--url(type='text' required)
                      .col-sm-2
                        button.btn.btn-theme.js-config-whitelist--submit(type='submit') Whitelist
                .white-panel.pn
                  .white-header
                    h5 CURRENTLY WHITELISTED
                  .row
                    .col-xs-12
                      table.table.table-striped.stats-table.list-table
                        tbody.text-center.js-config-whitelist--table

        section.wrapper.js-config-blacklist.hidden
          .row.text-center
            h1 Blacklist
            .row.mtbox.hidden.js-config-blacklist--error
              .col-xs-12.box0
                .box1
                  span.fa.fa-warning
                  h3 Woah there cowperson! There's been an error.
                p
            .row.mt
              .col-xs-12
                .form-panel
                  form.form-horizontal.style-form.js-config-general--form
                    .form-group
                      label.col-sm-2.control-label Blacklist URL
                      .col-sm-8
                        input.form-control.js-config-blacklist--url(type='text' required)
                      .col-sm-2
                        button.btn.btn-theme.js-config-blacklist--submit(type='submit') Blacklist
                .white-panel.pn
                  .white-header
                    h5 CURRENTLY BLACKLISTED
                  .row
                    .col-xs-12
                      table.table.table-striped.stats-table.list-table
                        tbody.text-center.js-config-blacklist--table

      // main content end
      // footer start
      footer.site-footer
        .text-center
          | 2014 - Alvarez.is
          a.go-top(href='#')
            i.fa.fa-angle-up
      // footer end
    // js placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script.include(type='text/javascript', src='assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.sparkline.js')
    // common script for all pages
    script(src='assets/js/common-scripts.js')
    // script for this page
    script(src='assets/js/sparkline-chart.js')

    script.
      $(document).on('ready', function () {
        $('.js-sidebar-toggle').trigger('click')
      })

      window.onhashchange = function () {
        var hash = window.location.hash.replace('#', '')
        $('section.wrapper').not('.hidden').addClass('hidden')
        $('section.wrapper.js-' + hash).removeClass('hidden')
      }
